<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias - UniPost</title>
    <link href="/assets/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/app.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">UniPost</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/categories">Categorias</a></li>
                    <li><a href="/posts/moderate">Moderação</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">@AccountHeader@</ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <a href="/categories/create" class="btn btn-default btn-primary">Nova categoria</a>
        <div class="table-responsive">
            <table id="table-categories" class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <hr />
        <footer>
            <p>&copy; 2016 - UniPost</p>
        </footer>
    </div>

    <script src="/assets/lib/jquery/jquery-2.2.2.min.js"></script>
    <script src="/assets/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
	<script src="/assets/js/categories.js"></script>	
</body>
</html>