body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content{
    margin-top:10px;
}

.posts-header {
    height: 34px;
}

div .table-responsive {
    margin-top: 10px;
}

.posts-header > div {
    float: right;
}

table>tbody>tr>td>a {
    cursor: pointer;
}