<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrever-se - UniPost</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">UniPost</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/categories">Categorias</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="link-logout" href="#">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    <form id="form-create-post" action="/login" method="post" class="form-horizontal" role="form">
                        <h3>Postar um novo conteúdo.</h4>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-10">
                                <select id="select-category" name="category" class="form-control" required>
                                    <option selected="selected" value="">Seleciona uma categoria</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="text" name="title" class="form-control" placeholder="Título" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <textarea class="form-control" rows="10" name="content" wrap="hard" placeholder="Conteúdo"></textarea>
                            </div>
                        </div>
                        <div class="alert alert-warning" role="alert" hidden></div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Postar" class="btn btn-default btn-primary" />
                                <a href="/">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; 2016 - UniPost</p>
        </footer>
    </div>

    <script src="/assets/js/jquery-2.2.2.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/posts.js"></script>
</body>
</html>